html,
body {
  margin: 10;
  padding: 10;
  background-color: #fdb913;
  font-family: "Arsenal", sans-serif;
}

#start {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.container {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #db0007;
}

.apple {
  background-color: #fff;
  border-radius: 50px;
}

.control-btn {
  /* border: solid 2px red; */
  width: 200px;
  height: 200px;
  position: relative;
  padding-top: 15px;
}

.left-right-btn {
  justify-content: space-between;
  /* border: solid 2px purple; */
  display: flex;
  margin: 10px;
}

/* .up-down-btn {
  border: solid 2px green;
  display: flex;
} */

#up-btn {
  position: relative;
  top: 0%;
}

#down-btn {
  position: absolute;
  display: flex;
  bottom: 40%;
  left: 42%;
}

#left-btn,
#right-btn,
#up-btn,
#down-btn {
  border: none;
  border-radius: 50px;
  padding: 5px;
}
